<mat-tab-group>
  <mat-tab label="Upcoming Events">
    <!-- Upcoming Events content here -->
    <mat-card>
      <mat-card-title>Upcoming Events</mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="3" gutterSize="16px">
          <mat-grid-tile *ngFor="let event of upcomingEvents">
            <mat-card class="event-card">
              <!-- Event Name -->
              <mat-card-title>{{ event.eventName }}</mat-card-title>
              <!-- Event Description -->
              <mat-card-content>
                <p>{{ event.eventDescription }}</p>
              </mat-card-content>
              <!-- Event Date and Category -->
              <mat-card-content>
                <ul class="event-details">
                  <li>Date: {{ event.eventDate | date }}</li>
                  <li>Category: {{ event.eventCategory }}</li>
                </ul>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Past Events">
    <!-- Past Events content here -->
    <mat-card>
      <mat-card-title>Past Events</mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="3" gutterSize="16px">
          <mat-grid-tile *ngFor="let event of pastEvents">
            <mat-card class="event-card">
              <!-- Event Name -->
              <mat-card-title>{{ event.eventName }}</mat-card-title>
              <!-- Event Description -->
              <mat-card-content>
                <p>{{ event.eventDescription }}</p>
              </mat-card-content>
              <!-- Event Date and Category -->
              <mat-card-content>
                <ul class="event-details">
                  <li>Date: {{ event.eventDate | date }}</li>
                  <li>Category: {{ event.eventCategory }}</li>
                </ul>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
